.header1 {
    max-width: 60rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #242424;
  }
  
  .list {
    display: flex;
    gap: 1rem;
  }
  
  .list a {
    text-decoration: none;
    color: var(--color-primary-400);
  }
  
  .list a:hover,
  .list a.active {
    color: var(--color-primary-800);
  }

  
/* ---------------------------MEDIA QUERYs--------------------------------- */
  @media (min-width: 1251px) and (max-width: 3000px) {

  }

  @media (min-width: 801px) and (max-width: 1250px) {

  }

  @media screen and (max-width: 800px) {

  }

  @media screen and (min-width: 500px) { 

  }

  @media screen and (max-width: 500px) {

  }