.memes {
  margin: 2rem auto;
  max-width: 40rem;
}
p {
  color: var(--color-primary-100);
}

.list {
  display: flex;
  flex-direction: row;
}
.item {
  align-content: center;
}

.item a {
  text-decoration: none;
  color: inherit;
  display: flex;
  background-color: var(--color-gray-800);
  border-radius: 4px;
  overflow: hidden;
}

.item a:hover {
  transform: scale(1.02);
  background-color: var(--color-gray-700);
}

.item img {
  object-fit: cover;
}

.content {
  color: var(--color-primary-100);
}
/* .item h2 {
  margin: 0 0 1rem 0;
} */

.meme-images {
  display: flex;
  gap: 3px;
  padding: 5px 5px;
}

.meme-images > img {
  /* height: 150px; */
  cursor: pointer;
  max-height: 200px;
  max-width: 308px; 
}

.meme-images > img:hover {
  border: 1px solid #46ff80;
  -webkit-box-shadow: 0 0 10px #fff;
      box-shadow: 0 0 10px #fff;
  }
/* END Me


/* Memes Catalog */
.meme-catalog {
  height: auto;
  /* max-width: ; */
  /* height: 110px !important; */
  width: relative; 
  border: 2px solid #2d2d2d; 
  -webkit-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #fff;
  border-radius: 5px;
  align-content: flex-start;
  flex-wrap: wrap;
  /* stretch */
}
