@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;600&display=swap');

.gif {
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 20px auto;
  display: block;
}

p {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: left;
}

p,
a,
li {
  font-family: 'Poppins', sans-serif;

}

img {
  width: 100%;
  height: auto;
  max-width: 750px;
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.updates {
  font-size: 1.1em;
  color: #d5d5d5;
  line-height: 1.6;
  margin: 0 auto;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
}

.link {
  color: #81bcfa;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.button {
  display: inline-block;
  margin: 15px 0;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}

.coming-soon {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto;
}

.solid {
  border: 1px solid #ccc;
}

.list {
  list-style-type: none;
}

.list li {
  font-weight: bold;
  margin: 10px 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

/* --------------------------- NEW STYLES FOR RESPONSIVENESS --------------------------- */
.gifContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.contentRow, .contentRowReverse {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
}

.contentRow img, .contentRowReverse img {
  width: 50%;
  max-width: 100%;
  height: auto;
}

.contentRow p, .contentRowReverse p {
  width: 50%;
}

.contentRowReverse {
  flex-direction: row-reverse;
}

/* --------------------------- MEDIA QUERIES --------------------------- */
@media (min-width: 1251px) and (max-width: 3000px) {}

@media (min-width: 801px) and (max-width: 1250px) {}

@media screen and (max-width: 800px) {
  .contentRow, .contentRowReverse {
    flex-direction: column;
    text-align: center;
  }

  .contentRow img, .contentRowReverse img,
  .contentRow p, .contentRowReverse p {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {}

@media screen and (max-width: 500px) {
  p {
    padding: 10px 20px;
  }

  img {
    max-width: 360px;
  }
}
