
h1 {
    font-family: Impact, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.title-section {
    height: 100px;
}

@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .title-section.generator {
        height: 40px;
    }
}



/* display custom meme area */
.display-meme {
    width: 100%;
}
@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .display-meme {
        width: 100%;
        margin: 20px auto;
    }
}

.meme-box {
    /* display: block; */
}
@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .meme-box {    
        width: 90%;
       
    }
  }
.meme{
    position: relative;
    /* width: 100%; */
    margin: auto;
}
.meme > .meme-text{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
}

.meme > img {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}


/* Memes Text Position Templates */
.meme > .line-bottom {
    top: calc(90% - 10px);
    justify-content: center;
}

.meme > .line-top {
    top: 0;
    justify-content: center;
    /* height: 120%;  */
}
/* .meme > .line-top:active{
    display: table;
} */

/* .meme > .line:active{
    display: table;
} */
.meme > .line{
    display: table;
}

.meme > .line-default {
    top: 50%;
    left: 50%;
}

/* END of Memes Text Position Templates */

.limit {
    border:#313131;
    border-width: 5px;
    border-style: solid;
}

.grey {
    color:#727272;   
}

button > img {
    margin-left: 5px;
    margin-right: 5px;
}

.center {
    text-align: center;
}

.meme-text {
    position: relative;
    /* width: 95%; */
    margin: auto;
    padding: 0 2px;
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute; 
}

.meme-text:active{
    margin: auto;
    padding: 0 2px;
    border: 1px dashed white; 
}

/* Colors options: white and black*/
.color-white {
    color: white;
    text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.color-black {
    color: black;
    text-shadow:
    2px 2px 0 #ffffff,
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    0 2px 0 #ffffff,
    2px 0 0 #ffffff,
    0 -2px 0 #ffffff,
    -2px 0 0 #ffffff,
    2px 2px 5px #ffffff;
}

/* Text Align options - center , left, right */
.text-align-center {
    text-align: center !important;
}
.text-align-left {
    text-align: left !important;
}
.text-align-right {
    text-align: right !important;
}

/* END display custom meme area */

/* Random meme and catalog section */

.random-meme-section {
    width: 90%;
    padding: 20px auto;
    height: 120px;
}

@media only screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {
    .random-meme-section {
        padding: 0px 20px 20px;
    }
  }


.container-1 {
    margin-left: 90px;
    margin-right: 90px;
}

@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .container-1 {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
  }

/* Random Meme Button */
  .random-btn-box{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
  }

  @media only screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {
    .random-btn-box {
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
  }

.random-button {
    cursor: pointer;
    border: 2px solid #000;
    background: 
    linear-gradient(#c36666, #604141) padding-box,
    linear-gradient(90deg, rgba(151,215,0,1) 0%, rgba(0,169,224,1) 50%, rgba(51,0,114,1) 100%) border-box;
    transition: all .5s ease;
    height: 55px;
    min-width: 300px;
    letter-spacing: 0.125rem;
    font-family: VT323, monospace;
    font-size: 23px;
    color: #fff;
    border-radius: 5px 25px; 
}
/* END Random Meme Button */

/* Memes Catalog */
.meme-catalog {
    height: 110px !important;
    width: relative; 
    border: 2px solid #2d2d2d; 
    border-radius: 5px;
}

.meme-catalog > fieldset{
    display: flex;
    flex-direction: row !important;
    align-items: space-between !important;
}

.meme-catalog > .right{
    position: absolute;
    top: 226px;
    right: calc(10% - 90px);
    border-top-right-radius: 3px;
}

.meme-catalog > .left{
    position: absolute !important;
    border-top-left-radius: 3px;
}

.scroll {
    overflow-x: scroll;
    align-items: center;
    white-space: nowrap;
}

.scroll-btn {
    padding: 5px 15px 10px;
    cursor: pointer;
    height: 108px;
    align-items: center;
    position: fixed;
}

.scroll-btn:active {
    filter: invert(1);
}

.scroll-btn > img {
    -webkit-filter: invert(1);
   filter: invert(1);
   transform: rotate(90deg);
}

.scroll-btn.left {
    height: 100px;
    width: 80px;
    background: linear-gradient(to right, rgba(0,0,0,0.5), transparent);
}

.scroll-btn.left > img {
transform: rotate(270deg);
}

.scroll-btn.right {
    height: 100px;
    width: 80px;
    background: linear-gradient(to left, rgba(0,0,0,0.5), transparent);
}

@media only screen and (max-width: 1000px) and (min-width: 367px) {
    .scroll-btn.right {
        position: absolute;
        top: 241px;
        right: calc(10% - 10px);
    }
}

.meme-images {
    display: flex;
    gap: 5px;
    padding: 5px;
    padding-left: 74px;
}

.meme-images > img {
    height: 90px;
    cursor: pointer;
}
.meme-images > img :hover {
    border: 2px solid #26b352;
    }
/* END Memes Catalog */
/* END of Meme generator section (random meme btn + memes catalog)*/






.edit-area {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
}
@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .edit-area{
        flex-direction: column-reverse;
    }
}

.meme-form {
    width: 100%;
}
@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .meme-form {
        width: 80% !important;
        margin: 20px auto;
    }
}

.meme-input {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
} 

.meme-input-btn {
    display: flex;
    width: 90% !important;
    flex-direction: initial;
    justify-content: center;
} 

.download-btn {
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #49be82d4;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    /* box-shadow: 0px 14px 56px -11px #1875FF; */
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
}

.download-btn span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.4s;
}

.download-btn span:after {
content: 'for free';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.7s;
}

.download-btn:hover span {
padding-right: 3.55em;
}

.download-btn:hover span:after {
opacity: 4;
right: 0;
}


.meme-input-item { 
    display: flex;
    flex-direction: column; 
}

.flex-cloumn { 
    display: flex;
    flex-direction: column; 
}



/* color boxes    */
.color-options {
    display: flex;
    margin-bottom: 15px;
}
  
.color-option {
width: 20px;
height: 20px;
margin: 0 5px 0 0;
border: 1px solid #000000;
cursor: pointer;
}
.color-option:hover {
    border: 1px solid #dbb933;
    }

.option-selected {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    border: 1px solid #6edd84;
}

.display-flex {
    display: flex;
}

/*text-align*/
.align-option {
    filter: brightness(0%) invert(100%);
    margin: 0 15px 0 0;
    cursor: pointer;
}

/* Font Size Options */
.font-size-option {
    filter: brightness(0%) invert(100%);
    margin: 0 15px 0 0;
    cursor: pointer;
}



.no-cursor {
    cursor: default;
}

.font-size-6 {
    font-size: 80%;
}

.font-size-7 {
    font-size: 110%;
}

.font-size-8 {
    font-size: 140%;
}

.font-size-9 {
    font-size: 170%;
}

.font-size-10 {
    font-size: 200%;
}

.font-size-11 {
    font-size: 230%;
}

.font-size-12 {
    font-size: 260%;
}

.font-size-13 {
    font-size: 290%;
}

.font-size-14 {
    font-size: 320%;
}

.font-size-15 {
    font-size: 350%;
}

.font-size-16 {
    font-size: 380%;
}

.font-size-17 {
    font-size: 410%;
}
.font-size-18 {
    font-size: 640%;
}
.font-size-19 {
    font-size: 670%;
}
.font-size-20 {
    font-size: 700%;
}

.font-comic {
    font-family: Comic Sans MS, Comic Sans, cursive !important;
}

.margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pt-5 {
    padding-top: 5px;
}
.border-cst {
    border-radius: 1px;
    border-color: #555555;
    border-style: double;
}

.meme-input-item > textarea, input{
    width: 100%;
    height: 28px;
    min-height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
}

div > textarea{
    width: 100%;
    height: 28px;
    min-height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
}

.btn-delete {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.input-pretender {
    width: 90%;
    height: 28px;
    min-height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
}
.line-0 {
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 16px;
    /* width: 100%; */
}

.lines {
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 16px;
    width: 95%;
}

.meme-input-btn > button {
    position: relative;
    width: 200px;
    height: 40px;
    letter-spacing: 1.5px;
    color: black;
    background: whitesmoke;
    margin-bottom: 10px;

    
}

/* CSS */
/* .button-39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(104, 145, 206);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
} */
.button-39 {
    background-color: #00BFA6;
    padding: 8px 10px;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #00BFA6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
   }
   
   .button-39 span:last-child {
    display: none;
   }
   
   .button-39:hover {
    transition: .4s;
    border: 2px dashed #00BFA6;
    background-color: #fff;
   }
   
   .button-39:active {
    background-color: #87dbd0;
   }
   
.meme-form > input:-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-form > input:-moz-placeholder { /* Firefox 19+ */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-form > input:-ms-input-placeholder { /* IE 10+ */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-form > input:-moz-placeholder { /* Firefox 18- */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-flip {
    transform: scalex(-1);
 }

.navbar {
    height:100px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
  
