
h1 {
    font-family: Impact, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.title-section {
    height: 120px;
}

@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .title-section.generator {
        height: 40px;
    }
}



/* display custom meme area */
.display-meme {
    width: 100%;
}
@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .display-meme {
        width: 100%;
        margin: 20px auto;
    }
}

.meme-box {
    /* display: block; */
}
@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .meme-box {    
        width: auto;
       
    }
  }
.meme{
    position: relative;
    /* width: 100%; */
    margin: auto;
}
/* .meme > .meme-text{
    display: flex;
    flex-direction: row;
} */

.meme > img {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    /* height: 100%; */
}


/* Memes Text Position Templates */
.meme > .line-bottom {
    top: calc(90% - 10px);
    justify-content: center;
}

.meme > .line-top {
    top: 0;
    justify-content: center;
    /* height: 120%;  */
}
/* .meme > .line-top:active{
    display: table;
} */

/* .meme > .line:active{
    display: table;
} */
.meme > .line{
    display: table;
}

.meme > .line-default {
    top: 50%;
    left: 50%;
}

/* END of Memes Text Position Templates */

.limit {
    border:#313131;
    border-width: 5px;
    border-style: solid;
}

/* .grey {
    color:#727272;   
} */

button > img {
    margin-left: 5px;
    margin-right: 5px;
}

/* .center {
    text-align: center;
} */

.meme-text {
    position: relative;
    /* width: 95%; */
    margin: auto;
    padding: 0 2px;
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute; 
    
}

.meme-text:active{
    margin: auto;
    padding: 0 2px;
    border: 1px dashed white; 
}

/* Colors options: white and black*/
/* .color-white {
    color: white;
    text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.color-black {
    color: black;
    text-shadow:
    2px 2px 0 #ffffff,
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    0 2px 0 #ffffff,
    2px 0 0 #ffffff,
    0 -2px 0 #ffffff,
    -2px 0 0 #ffffff,
    2px 2px 5px #ffffff;
} */



.random-meme-section {
    width: 90%;
    padding: 20px auto;
    height: 170px;
}

@media only screen and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {
    .random-meme-section {
        padding: 0px 20px 20px;
    }
  }


.container-1 {
    margin-left: 90px;
    margin-right: 90px;
}

@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .container-1 {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
  }

/* Random Meme Button */
  .random-btn-box{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
  }



.random-button {
    cursor: pointer;
    border: 2px solid #000;
    background: 
    linear-gradient(#62b1c5, #604141) padding-box,
    linear-gradient(90deg, rgba(151,215,0,1) 0%, rgba(0,169,224,1) 50%, rgba(51,0,114,1) 100%) border-box;
    transition: all .5s ease;
    height: 55px;
    width: auto;
    min-width: 300px;
    letter-spacing: 0.125rem;
    font-family: VT323, monospace;
    font-size: 23px;
    color: #fff;
    border-radius: 5px 25px; 
}
.random-button:hover {
    border: 1px solid var(--color-primary-700);
    /* -webkit-box-shadow: 0 0 10px var(--color-primary-900);
    box-shadow: 0 0 10px var(--color-primary-900); */
}
/* END Random Meme Button */

.edit-area {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
}
@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .edit-area{
        flex-direction: column-reverse;
    }
}

.meme-form {
    width: 100%;
}
@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .meme-form {
        width: 80% !important;
        margin: 20px auto;
    }
}

.meme-input {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
} 

.meme-input-btn {
    display: flex;
    width: 90% !important;
    flex-direction: initial;
    justify-content: center;
} 


/* .meme-input-item { 
    display: flex;
    flex-direction: column; 
}

.flex-cloumn { 
    display: flex;
    flex-direction: column; 
} */





/* .no-cursor {
    cursor: default;
} */

.font-comic {
    font-family: Comic Sans MS, Comic Sans, cursive !important;
}

/* .margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pt-5 {
    padding-top: 5px;
} */
/* .border-cst {
    border-radius: 1px;
    border-color: #555555;
    border-style: double;
} */
/* 
.meme-input-item > textarea, input{
    width: 100%;
    height: 28px;
    min-height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
}

div > textarea{
    width: 100%;
    height: 28px;
    min-height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
}

.btn-delete {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
} */

.input-pretender {
    width: 90%;
    height: 28px;
    min-height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
}
.line-0 {
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 16px;
    /* width: 100%; */
}

.lines {
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 16px;
    width: 95%;
}

.meme-input-btn > button {
    position: relative;
    width: 200px;
    height: 40px;
    letter-spacing: 1.5px;
    color: black;
    background: whitesmoke;
    margin-bottom: 10px;
}

/* CSS */
/* delete */
/* 
.button-39 {
    background-color: #00BFA6;
    padding: 8px 10px;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #00BFA6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
   }

   .button-39 span:last-child {
    display: none;
   }
   
   .button-39:hover {
    transition: .4s;
    border: 2px dashed #00BFA6;
    background-color: #fff;
   }
   
   .button-39:active {
    background-color: #87dbd0;
   }
    */

/* 
.navbar {
    height:100px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

} */
  
