


h1 {
    font-family: Impact, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.title-section {
    height: 120px;
}

@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .title-section.generator {
        height: 40px;
    }
}



/* display custom meme area */
.display-meme {
    width: 100%;
}
@media only screen and (max-width: 1000px) and (min-width: 367px) and (-webkit-min-device-pixel-ratio: 1)  {
    .display-meme {
        width: 100%;
        margin: 20px auto;
    }
}
.meme{
    position: relative;
    /* width: 100%; */
    margin: auto;
}
/* .meme > .meme-text{
    display: flex;
    flex-direction: row;
} */

.meme > img {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: inherit;
    /* height: 100%; */
}


/* Memes Text Position Templates */
.meme > .line-bottom {
    top: calc(90% - 10px);
    justify-content: center;
}

.meme > .line-top {
    top: 0;
    justify-content: center;
    /* height: 120%;  */
}
/* .meme > .line-top:active{
    display: table;
} */

/* .meme > .line:active{
    display: table;
} */
.meme > .line{
    display: table;
}

.meme > .line-default {
    top: 50%;
    left: 50%;
}

/* END of Memes Text Position Templates */

.limit {
    border:#313131;
    border-width: 5px;
    border-style: solid;
}

/* .grey {
    color:#727272;   
} */

button > img {
    margin-left: 5px;
    margin-right: 5px;
}

/* .center {
    text-align: center;
} */

.meme-text {
    position: relative;
    /* width: 95%; */
    margin: auto;
    padding: 0 2px;
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute; 
    
}

.meme-text:active{
    margin: auto;
    padding: 0 2px;
    border: 1px dashed white; 
}






/* .no-cursor {
    cursor: default;
} */

.font-comic {
    font-family: Comic Sans MS, Comic Sans, cursive !important;
}

.input-pretender {
    width: 90%;
    height: 28px;
    min-height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
}
.line-0 {
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 16px;
    /* width: 100%; */
}

.lines {
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 16px;
    width: 95%;
}

.meme-input-btn > button {
    position: relative;
    width: 200px;
    height: 40px;
    letter-spacing: 1.5px;
    color: black;
    background: whitesmoke;
    margin-bottom: 10px;
}

