

 header{
    height: 100px;
    display: flex;
    align-items: center;
    background: #313131;
    background: -webkit-linear-gradient(to right,#313131,#c7ede6);
    /*background: linear-gradient(to right,#2a0845,#6441A5);*/
     background: linear-gradient(to right,#313131,#c7ede6);
}

h1 {
    font-family: Impact, sans-serif;
}
.text-bold {
    font-weight: bold;
}
header > img {
    height: 100%;
    margin-left: 1%;
}

header > p {

    font-family: Impact, sans-serif;
    color: whitesmoke;
    font-size:50px;
    margin-left: 60px;
}
/*font-family: VT323, monospace; Courier New, monospace*/



.meme{
    position: relative;
    width: 90%;
    margin: auto;
}
.limit {
    border:#313131;
    border-width: 5px;
    border-style: solid;
}

.grey {
    color:#727272;   
}

.meme > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.center {
    margin-left: 3%;
    text-align: center;
}

.meme > h2 {
    position: absolute;
    width: 95%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    padding: 0 5px;
    font-family: Impact, sans-serif;
    font-size: 3cqi;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
2px 2px 0 #000,
-2px -2px 0 #000,
2px -2px 0 #000,
-2px 2px 0 #000,
0 2px 0 #000,
2px 0 0 #000,
0 -2px 0 #000,
-2px 0 0 #000,
2px 2px 5px #000
;

}
.meme > .bottom {
    bottom: 0;
}
.meme > .top {
    top: 0;
}
.meme-form {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: auto;
}

.meme-input {
    display: grid !important;
    width: 50%;
} 

.input-settings {
    display: flex;
    margin-top: 15px;
}

.settings-title {
    width: 30%;
    font-family: Courier New, monospace;
}

.comic-font {
    font-family: Comic Sans MS, Comic Sans, cursive !important;
    color: #555555;
}

.margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pt-5 {
    padding-top: 5px;
}
.border-cst {
    border-radius: 1px;
    border-color: #555555;
    border-style: double;
}

.meme-input > input{
    width: 90%;
    height: 50px;
    padding-left: 15px;
    font-size: 16px;
}

.meme-form > button {
    height: 40px;
    border: none;
    font-family: VT323, monospace;
    font-size: 23px;
    letter-spacing: 1.5px;
    color: white;
    background: #6441A5;
}

.meme-form > input:-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-form > input:-moz-placeholder { /* Firefox 19+ */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-form > input:-ms-input-placeholder { /* IE 10+ */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-form > input:-moz-placeholder { /* Firefox 18- */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.todo-list {
    background-color: white;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
    padding: 38px;
}

.todo-item{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

.navbar {
    height:100px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
