

 header{
    height: 100px;
    display: flex;
    align-items: center;
    background: #313131;
    background: -webkit-linear-gradient(to right,#313131,#c7ede6);
    /*background: linear-gradient(to right,#2a0845,#6441A5);*/
     background: linear-gradient(to right,#313131,#c7ede6);
}

h1 {
    font-family: Impact, sans-serif;
}
.text-bold {
    font-weight: bold;
}
header > img {
    height: 100%;
    margin-left: 1%;
}

header > p {
    font-family: Impact, sans-serif;
    color: whitesmoke;
    font-size:50px;
    margin-left: 60px;
}
/*font-family: VT323, monospace; Courier New, monospace*/



.meme{
    position: relative;
    width: 90%;
    margin: auto;
}
.limit {
    border:#313131;
    border-width: 5px;
    border-style: solid;
}

.grey {
    color:#727272;   
}

.meme > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.center {
    margin-left: 3%;
    text-align: center;
}

.meme > h2 {
    position: absolute;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    padding: 0 5px;
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Colors options: white and black*/
.color-white {
    color: white;
    text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.color-black {
    color: black;
    text-shadow:
    2px 2px 0 #ffffff,
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    0 2px 0 #ffffff,
    2px 0 0 #ffffff,
    0 -2px 0 #ffffff,
    -2px 0 0 #ffffff,
    2px 2px 5px #ffffff;
}

/* Text Align options - center , left, right */
.text-align-center {
    text-align: center !important;
}
.text-align-left {
    text-align: left !important;
}
.text-align-right {
    text-align: right !important;
}

.meme > .bottom {
    bottom: 0;
}
.meme > .top {
    top: 0;
}
.meme-form {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: auto;
}

.meme-input {
    display: grid !important;
    width: 50%;
} 

.settings {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
}

.input-settings-color {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.settings-title {
    font-family: Courier New, monospace;
}


/* color boxes    */
.color-options {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 30%;
  }
  
.color-option {
width: 20px;
height: 20px;
margin: 0 5px 0 0;
border: 1px solid #000000;
cursor: pointer;
}

.color-option:hover {
border: 1px solid #333;
}

/*text-align*/
.align-options {
    display: flex;
    margin-left: 5px;
  }

.align-option {
    /* margin: 0 5px 0 0; */
    cursor: pointer;
    /* padding-bottom: 10px; */
}
/* Font Size Options */
.font-size-options {
    display: flex;
    margin-left: 5px;
}

.font-size-option {
    margin: 0 5px 0 0;
    padding-bottom: 10px;
}

.no-cursor {
    cursor: default;
}

.font-size-6 {
    font-size: 280%;
}
.font-size-7 {
    font-size: 310%;
}
.font-size-8 {
    font-size: 340%;
}
.font-size-9 {
    font-size: 370%;
}
.font-size-10 {
    font-size: 400%;
}
.font-size-11 {
    font-size: 430%;
}
.font-size-12 {
    font-size: 460%;
}
.font-size-13 {
    font-size: 490%;
}
.font-size-14 {
    font-size: 520%;
}
.font-size-15 {
    font-size: 550%;
}
.font-size-16 {
    font-size: 580%;
}
.font-size-17 {
    font-size: 610%;
}
.font-size-18 {
    font-size: 640%;
}
.font-size-19 {
    font-size: 670%;
}
.font-size-20 {
    font-size: 700%;
}
.comic-font {
    font-family: Comic Sans MS, Comic Sans, cursive !important;
    color: #555555;
}

.margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pt-5 {
    padding-top: 5px;
}
.border-cst {
    border-radius: 1px;
    border-color: #555555;
    border-style: double;
}

.meme-input > textarea, input{
    width: 90%;
    min-height: 50px;
    padding-left: 15px;
    font-size: 16px;
}

.input-pretender {
    border: 2px solid gray;
  border-radius: 4px;
  /* background: #4aaaa5; */
  /* color: #ffffff; */
  font-size: 16px;
}

.meme-form > button {
    height: 40px;
    border: none;
    font-family: VT323, monospace;
    font-size: 23px;
    letter-spacing: 1.5px;
    color: white;
    background: #a591cb;
}

.random-meme > button{
    height: 40px;
    border: none;
    font-family: VT323, monospace;
    font-size: 23px;
    letter-spacing: 1.5px;
    color: white;
    background: #6441A5;
}

.meme-form > input:-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-form > input:-moz-placeholder { /* Firefox 19+ */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-form > input:-ms-input-placeholder { /* IE 10+ */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-form > input:-moz-placeholder { /* Firefox 18- */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.navbar {
    height:100px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
