

 header{
    height: 100px;
    display: flex;
    align-items: center;
    background: #313131;
    background: -webkit-linear-gradient(to right,#313131,#c7ede6);
    /*background: linear-gradient(to right,#2a0845,#6441A5);*/
     background: linear-gradient(to right,#313131,#c7ede6);
}

h1 {
    font-family: Impact, sans-serif;
}

header > img {
    height: 100%;
    margin-left: 1%;
}

header > p {
    font-family: Impact, sans-serif;
    color: whitesmoke;
    font-size:50px;
    margin-left: 60px;
}

/* Check box*/
  .checkbox-wrapper-6 .tgl {
    display: none;

  }
  .checkbox-wrapper-6 .tgl,
  .checkbox-wrapper-6 .tgl:after,
  .checkbox-wrapper-6 .tgl:before,
  .checkbox-wrapper-6 .tgl *,
  .checkbox-wrapper-6 .tgl *:after,
  .checkbox-wrapper-6 .tgl *:before,
  .checkbox-wrapper-6 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .checkbox-wrapper-6 .tgl::-moz-selection,
  .checkbox-wrapper-6 .tgl:after::-moz-selection,
  .checkbox-wrapper-6 .tgl:before::-moz-selection,
  .checkbox-wrapper-6 .tgl *::-moz-selection,
  .checkbox-wrapper-6 .tgl *:after::-moz-selection,
  .checkbox-wrapper-6 .tgl *:before::-moz-selection,
  .checkbox-wrapper-6 .tgl + .tgl-btn::-moz-selection,
  .checkbox-wrapper-6 .tgl::selection,
  .checkbox-wrapper-6 .tgl:after::selection,
  .checkbox-wrapper-6 .tgl:before::selection,
  .checkbox-wrapper-6 .tgl *::selection,
  .checkbox-wrapper-6 .tgl *:after::selection,
  .checkbox-wrapper-6 .tgl *:before::selection,
  .checkbox-wrapper-6 .tgl + .tgl-btn::selection {
    background: none;
  }
  .checkbox-wrapper-6 .tgl + .tgl-btn {
    margin-bottom: 12px;
    margin-top: 15px;
    outline: 0;
    display: block;
    width: 6%;
    height: 2.6ch;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .checkbox-wrapper-6 .tgl + .tgl-btn:after,
  .checkbox-wrapper-6 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .checkbox-wrapper-6 .tgl + .tgl-btn:after {
    left: 0;
  }
  .checkbox-wrapper-6 .tgl + .tgl-btn:before {
    display: none;
  }
  .checkbox-wrapper-6 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }

  .checkbox-wrapper-6 .tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
  }
  .checkbox-wrapper-6 .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-6 .tgl-light:checked + .tgl-btn {
    background: #9FD6AE;
  }
.display-meme {
    width: 60%;
}
.meme{
    position: relative;
    /* position: center; */
    /* width: 600px; */
    width: 80%;
    margin: auto;
}
.limit {
    border:#313131;
    border-width: 5px;
    border-style: solid;
}

.grey {
    color:#727272;   
}

.meme > img {    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

button > img {
    margin-left: 5px;
    margin-right: 5px;
}

.center {
    text-align: center;
}

.meme > h2 {
    position: absolute;
    /* position: relative; */
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    padding: 0 5px;
    font-family: Impact, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Colors options: white and black*/
.color-white {
    color: white;
    text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.color-black {
    color: black;
    text-shadow:
    2px 2px 0 #ffffff,
    -2px -2px 0 #ffffff,
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
    0 2px 0 #ffffff,
    2px 0 0 #ffffff,
    0 -2px 0 #ffffff,
    -2px 0 0 #ffffff,
    2px 2px 5px #ffffff;
}

/* Text Align options - center , left, right */
.text-align-center {
    text-align: center !important;
}
.text-align-left {
    text-align: left !important;
}
.text-align-right {
    text-align: right !important;
}

.meme > .bottom {
    bottom: 0;
}
.meme > .top {
    top: 0;
}
.meme-form {
    width: 90%;
    margin: 20px auto;
    display: flex;
}

.meme-input {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 15px;
} 

.meme-input-btn {
    display: flex;
    flex-direction: initial;
    width: 40%;
    align-items: center;
} 

.meme-input-item { 
    display: flex;
    flex-direction: column; 
}

.flex-cloumn { 
    display: flex;
    flex-direction: column; 
}

.settings {
    display: flex;
    flex-direction: row;
}

.settings-img {
    width: 90%;
    height: 50%;
    margin: 0 5px 0 0;
    border: 2px dashed rgb(195, 195, 195);
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-settings-color {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.settings-img-items {
    margin: 10px;
}

.font-monospace {
    font-family: Courier New, monospace;
}

.flip-option {
    margin-bottom: 10px;
    padding-left: 2px;
    cursor: pointer;
}

/* color boxes    */
.color-options {
    display: flex;
    margin-bottom: 15px;
}
  
.color-option {
width: 20px;
height: 20px;
margin: 0 5px 0 0;
border: 1px solid #000000;
cursor: pointer;
}

.option-selected {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    border: 1px solid #6edd84;
}

.color-option:hover {
border: 1px solid #333;
}

.display-flex {
    display: flex;
}

/*text-align*/
.align-option {
    margin: 0 15px 0 0;
    cursor: pointer;
}

/* Font Size Options */
.font-size-option {
    margin: 0 15px 0 0;
    cursor: pointer;
}



.no-cursor {
    cursor: default;
}

.font-size-6 {
    font-size: 80%;
}
.font-size-7 {
    font-size: 110%;
}
.font-size-8 {
    font-size: 140%;
}
.font-size-9 {
    font-size: 170%;
}
.font-size-10 {
    font-size: 200%;
}
.font-size-11 {
    font-size: 230%;
}
.font-size-12 {
    font-size: 260%;
}
.font-size-13 {
    font-size: 290%;
}
.font-size-14 {
    font-size: 320%;
}
.font-size-15 {
    font-size: 350%;
}
.font-size-16 {
    font-size: 380%;
}
.font-size-17 {
    font-size: 410%;
}
.font-size-18 {
    font-size: 640%;
}
.font-size-19 {
    font-size: 670%;
}
.font-size-20 {
    font-size: 700%;
}

.title-line {
    margin-bottom: 15px;
    font-family: Comic Sans MS, Comic Sans, cursive !important;
    color: #555555;
    font-weight: bold;
}

.margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pt-5 {
    padding-top: 5px;
}
.border-cst {
    border-radius: 1px;
    border-color: #555555;
    border-style: double;
}

.meme-input-item > textarea, input{
    width: 90%;
    height: 28px;
    min-height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
}

div > textarea{
    width: 90%;
    height: 28px;
    min-height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
}

.btn-delete {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.input-pretender {
    width: 90%;
    height: 28px;
    min-height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
}
.line-0 {
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 16px;
    width: 120%;
}

.lines {
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 16px;
    width: 82%;
}

.meme-input-btn > button {
    position: relative;
    width: 200px;
    height: 40px;
    /* border-radius: 4px; */
    /* border: 1px solid black; */
    /* font-family: VT323, monospace;
    font-size: 23px; */
    letter-spacing: 1.5px;
    color: black;
    background: whitesmoke;
    margin-bottom: 10px;

    
}

/* CSS */
.button-39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}



.meme-input-item > button {
    width: 30%;
    height: 40px;
    border: none;
    font-family: VT323, monospace;
    font-size: 23px;
    letter-spacing: 1.5px;
    color: white;
    background: #a591cb;
}

.random-meme > button {
    cursor: pointer;
    height: 60px;
    /* //border: none; */
    border: 2px solid #000;
    background: 
    linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(90deg, rgba(151,215,0,1) 0%, rgba(0,169,224,1) 50%, rgba(51,0,114,1) 100%) border-box;
    transition: all .5s ease;
    height: 4rem;
    display: table;
    letter-spacing: 0.125rem;
    font-family: VT323, monospace;
    font-size: 23px;
    color: #6441A5;
    border-radius: 5px 25px; 
}

.meme-form > input:-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-form > input:-moz-placeholder { /* Firefox 19+ */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-form > input:-ms-input-placeholder { /* IE 10+ */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-form > input:-moz-placeholder { /* Firefox 18- */
    font-family: VT323,monospace;
    font-size: 25px;
    text-align: center;
}

.meme-flip {
    transform: scalex(-1);
 }

.navbar {
    height:100px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
